python==3.6.8
cx_Oracle==7.3.0
apache-airflow==1.10.10
pandas==0.25.3
google-api-python-client==1.8.2
psycopg2==2.8.5
numpy==1.18.3
jinja2==2.10.3
yfinance==0.1.54
gspread==3.5.0
oauth2client==4.1.3
requests==2.23.0
simple_salesforce==1.0.0
pytz==2020.1
crontab==0.22.6
